@font-face {
  font-family: "Blackslash";
  src: url("/fonts/Backslash-RpJol.otf") format("otf");
}

:root {
  --body-text: hsl(0, 0%, 93%);
  --chapter-text-transition: opacity 0.35s;
  --link-text: hsl(223, 64%, 63%);
  --warning-color: hsl(0, 39%, 51%);
  --tabTransition: font-size 0.35s, opacity 0.35s, visibility 0.35s;
}

/*  
   ######   ######  ########   #######  ##       ##       ########     ###    ########  
  ##    ## ##    ## ##     ## ##     ## ##       ##       ##     ##   ## ##   ##     ## 
  ##       ##       ##     ## ##     ## ##       ##       ##     ##  ##   ##  ##     ## 
   ######  ##       ########  ##     ## ##       ##       ########  ##     ## ########  
        ## ##       ##   ##   ##     ## ##       ##       ##     ## ######### ##   ##   
  ##    ## ##    ## ##    ##  ##     ## ##       ##       ##     ## ##     ## ##    ##  
   ######   ######  ##     ##  #######  ######## ######## ########  ##     ## ##     ##  
 */

* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: transparent;
  transition: background 100ms ease;
}

::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  background-clip: content-box;
  border-radius: 12px;
  box-shadow: inset 0 0 0 10px hsla(0, 0%, 35%, 0.6);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/*
 ##     ## ####  ######   ######  ######## ##       ##          ###    ##    ## ########  #######  ##     ##  ######  
 ###   ###  ##  ##    ## ##    ## ##       ##       ##         ## ##   ###   ## ##       ##     ## ##     ## ##    ## 
 #### ####  ##  ##       ##       ##       ##       ##        ##   ##  ####  ## ##       ##     ## ##     ## ##       
 ## ### ##  ##   ######  ##       ######   ##       ##       ##     ## ## ## ## ######   ##     ## ##     ##  ######  
 ##     ##  ##        ## ##       ##       ##       ##       ######### ##  #### ##       ##     ## ##     ##       ## 
 ##     ##  ##  ##    ## ##    ## ##       ##       ##       ##     ## ##   ### ##       ##     ## ##     ## ##    ## 
 ##     ## ####  ######   ######  ######## ######## ######## ##     ## ##    ## ########  #######   #######   ######   
 */

html {
  background-color: rgb(50, 50, 50);
}

body {
  color: rgb(255, 255, 255);
  /* background-color: hsla(0, 0%, 0%, 0); */ /* Overwrites default SC css. */

  /* height: min(calc(100% - 2rem), 80%); */
  width: min(65rem, 90vw);

  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0 2px 8px rgb(0 0 0 / 50%);
  border-radius: 20px;

  font-size: 20px;
  text-shadow: 1px 1px 3px black;
}

h3 {
  display: inline;

  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  display: inline;

  margin-bottom: 0.5rem;
}

h5 {
  display: inline;

  text-indent: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

ul {
  margin-block-start: 0.45rem;
  margin-block-end: 0.45rem;
}

input[type=text] {
  min-width: min(18em, 20vw);
  max-width: 100%;
}

/* 
##     ## ####  
##     ##  ##   
##     ##  ##   
##     ##  ##   
##     ##  ##   
##     ##  ##   
 #######  ####  
 */

.knowledge {
  display: block;

  margin-left: 1rem;
  margin-bottom: -1.25rem;

  line-height: 1.5rem;
  font-weight: bold;
  text-decoration: white underline;
}

.subknowledge {
  display: block;

  margin-left: 2rem;
  margin-bottom: -1.25rem;

  text-decoration: underline;
}

#menu-core li[id|="menu-item"] a:before,
#debug-bar-toggle:before,
#ui-bar-history [id|="history"],
#ui-bar-toggle:before {
  /* Makes the Font Awesome icons not bold. Only needed until next SugarCube update. */
  font-weight: 400;
}

/* UI BAR CONTENTS */

.dialog-header {
  display: block;

  margin-top: 0.67rem;
  margin-bottom: 0.67rem;
  margin-left: 0;
  margin-right: 0;

  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline 2px;
}

#ui-dialog {
  max-width: 65vw;
}

#ui-dialog-body {
  padding-left: 2rem;
  padding-right: 2rem;
}

#mainwrapper {
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0 2px 8px rgb(0 0 0 / 50%);
  border-radius: 20px;
  
  background-color: rgb(40, 40, 40);
}

#wrapperBottomText {
  padding: 3rem;
  color: hsl(0deg 0% 65%);
}

#passages {
  margin-left: auto;
  margin-right: auto;

  /* margin-top: 2rem; */
  background-color: rgb(25, 25, 25);
  box-shadow: 0 2px 8px rgb(0 0 0 / 50%);
  border-radius: 20px;
  padding: 1.5rem 2rem;
}

#databaseInfoTab {
  position: fixed;
  left: 10vw;
  top: -1rem;

  padding: 1.25rem .75rem 0rem;

  background-color: hsl(0, 0%, 15%);
  box-shadow: 0 2px 8px rgb(0 0 0 / 50%);
  border-radius: 12px;

  height: 4vh;
  line-height: 4vh;
  font-size: 2vh;
  text-align: center;
}

#settingTabs ul {
  position: fixed;
  width: 20vw;

  left: -5rem;
  top: 3rem;

  list-style-type: none;
}

#settingTabs li {
  float: left;
  
  height: 4vh;
  margin-top: 1rem;
  margin-right: 300rem;
  padding: .75rem .5rem .75rem 2.75rem;
  
  box-shadow: 0 2px 8px rgb(0 0 0 / 50%);
  border-radius: 20px;

  background-color: hsl(0, 0%, 15%);
  
  line-height: 4vh;
  font-size: 2vh;
  text-align: center;
  white-space: nowrap;

  cursor: pointer;
}

#settingTabs li:before {
  opacity: 0;
  visibility: hidden;
  font-size: 0vw;

  transition: var(--tabTransition);
}

#settingTabs li:hover:before {
  opacity: 1;
  visibility: visible;
  font-size: inherit;

  transition: var(--tabTransition);
}

#settingTabs li#backwardTab:before {
  content: "Back ";
}

#settingTabs li#forwardTab:before {
  content: "Forward ";
}

#settingTabs li#settingsTab:before {
  content: "Settings ";
}

#settingTabs li#disableContentsTab:before {
  content: "Disable Content ";
}

#settingTabs li#savesTab:before {
  content: "Saves ";
}

#settingTabs li#restartTab:before {
  content: "Restart ";
}

#settingTabs li#creditsTab:before {
  content: "Credits ";
}

#settingTabs li#devTab {
  background-color: red;
}

#settingTabs li#devTab:before {
  content: "Dev Menu ";
}

#storyTabs ul {
  position: fixed;
  width: 20vw;

  right: -1rem;
  top: 3rem;

  list-style-type: none;
}

#storyTabs li { 
  float: right;
  padding: 1rem 1.25rem 1rem .75rem;

  background-color: hsl(0, 0%, 15%);
  box-shadow: 0 2px 8px rgb(0 0 0 / 50%);
  border-radius: 20px;

  margin-top: 1rem;
  margin-left: 50vw;

  height: 4vh;
  line-height: 4vh;
  font-size: 2vh;
  text-align: center;

  white-space: nowrap;
  cursor: pointer;
}

#storyTabs li:after {
  opacity: 0;
  visibility: hidden;
  font-size: 0vw;
  content: " ";

  transition: var(--tabTransition);
}

#storyTabs li:hover:after {
  opacity: 1;
  visibility: visible;
  font-size: inherit;

  transition: var(--tabTransition);
}

#storyTabs li#knowledgeTab:after {
  content: " Knowledge";
}

#storyTabs li#peopleTab:after {
  content: " People";
}

#debug-bar-hint {
  display: none;
}

/* 
 ######   #######  ##    ## ######## ######## ##    ## ########    ########  ####    ###    ########  ##       ######## 
##    ## ##     ## ###   ##    ##    ##       ###   ##    ##       ##     ##  ##    ## ##   ##     ## ##       ##       
##       ##     ## ####  ##    ##    ##       ####  ##    ##       ##     ##  ##   ##   ##  ##     ## ##       ##       
##       ##     ## ## ## ##    ##    ######   ## ## ##    ##       ##     ##  ##  ##     ## ########  ##       ######   
##       ##     ## ##  ####    ##    ##       ##  ####    ##       ##     ##  ##  ######### ##     ## ##       ##       
##    ## ##     ## ##   ###    ##    ##       ##   ###    ##       ##     ##  ##  ##     ## ##     ## ##       ##       
 ######   #######  ##    ##    ##    ######## ##    ##    ##       ########  #### ##     ## ########  ######## ######## 
 */

.fetishtitle {
  padding-left: 1rem;

  font-size: 1.1rem;
  text-decoration: underline solid 2px;
}

.subtext {
  color: hsl(0, 0%, 50%);

  font-size: 0.7rem;
  vertical-align: middle;
  text-align: justify;
}

.notice {
  font-size: 0.7rem;
  vertical-align: middle;
}

.fet-disabled {
  display: none;
}

.warning {
  color: var(--warning-color);

  font-size: 0.7rem;
  vertical-align: middle;
}

.warning-link {
  color: var(--warning-color);

  font-size: 0.7rem;
  vertical-align: top;
}

.macro-disable {
  text-decoration: line-through var(--warning-color);
  color: var(--warning-color);
}

/* 
##     ## ######## #### ##       #### ######## #### ########  ######  
##     ##    ##     ##  ##        ##     ##     ##  ##       ##    ## 
##     ##    ##     ##  ##        ##     ##     ##  ##       ##       
##     ##    ##     ##  ##        ##     ##     ##  ######    ######  
##     ##    ##     ##  ##        ##     ##     ##  ##             ## 
##     ##    ##     ##  ##        ##     ##     ##  ##       ##    ## 
 #######     ##    #### ######## ####    ##    #### ########  ######  
 */

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 12px;
}

.display-none {
  display: none;
}

.shade-text-to-link {
  background-image: linear-gradient(120deg, var(--body-text), var(--link-text));
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.shade-text-to-link:hover {
  text-decoration: underline;
}

/*
########   ######   ######         ##     ## ########    ###    ########  ######## ########  
##     ## ##    ## ##    ##        ##     ## ##         ## ##   ##     ## ##       ##     ## 
##     ## ##       ##              ##     ## ##        ##   ##  ##     ## ##       ##     ## 
########   ######  ##   ####       ######### ######   ##     ## ##     ## ######   ########  
##              ## ##    ##        ##     ## ##       ######### ##     ## ##       ##   ##   
##        ##    ## ##    ##        ##     ## ##       ##     ## ##     ## ##       ##    ##  
##         ######   ######         ##     ## ######## ##     ## ########  ######## ##     ##  
 */

#chapterheader {
  display: block;
  position: relative;

  margin-left: auto;
  margin-right: auto;

  /* width: max-content; */

  color: rgb(80, 80, 80);
  font-size: 2.5rem;
  font-family: backslash;

  transition: var(--chapter-text-transition);

  text-align: center;
  line-height: 3rem;
}

#passagetitleheader {
  display: block;
  opacity: 0;

  margin-bottom: 0.7rem;

  color: rgb(70, 70, 70);
  text-align: center;
  line-height: 1.5rem;

  transition: var(--chapter-text-transition);
}

#chapterheader:hover ~ #passagetitleheader {
  opacity: 1;

  transition: var(--chapter-text-transition);
}

#passagetitleheader:before {
  content: "~ ";
}

#passagetitleheader:after {
  content: " ~";
}
